

body {
    background-color: black;
}

.card {
    max-width: 300px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.card_body {
    text-align: center;
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 20px;
}

.card_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: darkblue;
    color: white;
    padding: 1.5em;
    justify-items: center;
    text-align: center;
}

.small {
    font-size: .8em;
    text-transform: uppercase;
}